.imgPos,
.iconPos {
    height: 100%;
    width: 100%;
}

.imgPos {
    background: #f1f1f1;
    cursor: pointer;
    padding: 0 !important;
}

.imgPos:hover {
    background-color: #f6f6f6;
}

.img-col {
    padding: 0 !important;
}

.img-row {
    width: 100%;
    height: 100% !important;
}

.avatImg {
    width: 100%;
}

.iconPos {
    text-align: center;
}

.eventbtn {
    padding: 10px;
    margin-left: 0em !important;
}

.eventbtn:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}