<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" color="primary" fill="clear" (click)="goToAddItem()">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-button>
      <!-- <ion-button size="small" color="primary" fill="clear" href="/additem" routerDirection="forward">Add Item</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!groups">
    <ion-grid class="addBtn">
      <ion-row class="addBtn" align-items-center>
        <ion-col style="text-align: center;">
          <div style="text-align: center;">
            <ion-icon color="medium" name="person" style="font-size:600%"></ion-icon>
            <ion-label color="medium">
              <p style="padding: 10px 0;">You don't have any contacts yet</p>
            </ion-label>
            <ion-label color="primary">
              <h4>CREATE NEW CONTACT</h4>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="keypad"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-searchbar animated="true" [(ngModel)]="search" (ionChange)="searching()" autocomplete="true" showCancelButton="false"></ion-searchbar>
  <ion-list lines="inset">
    <div *ngIf="search">
      <ion-item-group *ngFor="let group of result; let i=index">
        <ion-item-divider color="medium">
          <ion-label>{{group.name}}</ion-label>
        </ion-item-divider>
        <ion-item href="/additem/{{contact.id}}" routerDirection="root" *ngFor="let contact of group.contacts; let j=index">
          <ion-label [innerHTML]="contact.displayName"></ion-label>
        </ion-item>
      </ion-item-group>
    </div>
    <div *ngIf="!search">
      <ion-item-group *ngFor="let group of groups; let i=index">
        <ion-item-divider color="medium">
          <ion-label>{{group.name}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let contact of group.contacts; let j=index">
          <ion-item href="/additem/{{contact.id}}" routerDirection="root">
            <ion-label><b>{{contact.displayName}}</b></ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </div>
  </ion-list>


  <!-- <ion-list >
    <ion-item-group>
      <ion-item-divider>
        <ion-label>A</ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let contact of db.contacts; let i=index">
        <ion-label>{{contact.firstname}} <b>{{contact.lastname}}</b></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>B</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Bangladesh</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Belarus</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Belgium</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list> -->
</ion-content>